<webobject name="Page">
<wo:WCPageModule title="Assignments for Which You Can Provide Feedback">
<wo:if condition="$assignmentDisplayGroup.displayedObjects.count">
<p>You can provide your opinions on the following assignments:</p>

Objects = <wo:str value="$assignmentDisplayGroup.displayedObjects"/>

<table><thead>
    <tr><th>Assignment</th><th>Submissions</th><th>Most Recent</th><th class="sm">Score Distribution</th></tr>
</thead><tbody>
    <wo:loop list="$assignmentDisplayGroup.displayedObjects" item="$assignment" index="$index">
    <wo:tr index="$index">
        <td><wo:link action="$surveyForAssignment"><wo:str value="$assignment.titleString"/></wo:link></td>
        <td><wo:str value="$highestSubmission.submitNumber"/></td>
        <td class="nowrap"><wo:str value="$mostRecentSubmission.submitTime" formatter="$session.timeFormatter"/></td>
        <td><wo:MiniBarGraph graphSummary="$offeringWithDistribution.graphSummary"/></td>
    </wo:tr>
    </wo:loop>
</tbody></table>

</wo:if><wo:else>
<p>None of your assignments are currently available for providing feedback
opinions.</p>
</wo:else>
</wo:WCPageModule>
</webobject>
