
{
    attributes = 
    (
       
       {
           allowsNull = N;
           name = id;
           prototypeName = id;
       }
    );
    attributesUsedForLocking = 
    (
       id
    );
    className = AssignmentOffering;
    externalName = TAssignmentOffering;
    internalInfo = 
    {};
    name = AssignmentOffering;
    primaryKeyAttributes = 
    (
       id
    );
}