{
    attributes = (
        {
            columnName = assignmentOfferingId; 
            name = assignmentOfferingId; 
            prototypeName = foreignId; 
        }, 
        {columnName = dueTime; name = dueTime; prototypeName = dateTime; }, 
        {
            allowsNull = N; 
            columnName = enqueueTime; 
            name = enqueueTime; 
            prototypeName = dateTime; 
        }, 
        {name = id; prototypeName = id; }, 
        {
            allowsNull = N; 
            columnName = isCancelled; 
            name = isCancelled; 
            prototypeName = boolean; 
            userInfo = {isScalar = true; scalarDefault = false; type = boolean; }; 
        }, 
        {
            allowsNull = N; 
            columnName = isPaused; 
            name = isPaused; 
            prototypeName = boolean; 
            userInfo = {isScalar = true; scalarDefault = false; type = boolean; }; 
        }, 
        {
            columnName = isReady; 
            name = isReady; 
            prototypeName = boolean; 
            userInfo = {isScalar = true; scalarDefault = false; type = boolean; }; 
        }, 
        {
            allowsNull = N; 
            columnName = priority; 
            name = priority; 
            prototypeName = integer; 
            userInfo = {
                isScalar = true; 
                scalarConversionMethodName = intValue; 
                scalarDefault = 0; 
                type = int; 
                valueClassName = Integer; 
            }; 
        }, 
        {
            columnName = progress; 
            name = progress; 
            prototypeName = double; 
            userInfo = {
                isScalar = true; 
                scalarConversionMethodName = doubleValue; 
                scalarDefault = "0.0"; 
                type = double; 
                valueClassName = Double; 
            }; 
        }, 
        {
            columnName = progressMessage; 
            name = progressMessage; 
            prototypeName = mediumText; 
        }, 
        {columnName = scheduledTime; name = scheduledTime; prototypeName = dateTime; }, 
        {
            columnName = suspensionReason; 
            name = suspensionReason; 
            prototypeName = mediumText; 
        }, 
        {columnName = userId; name = userId; prototypeName = foreignId; }, 
        {columnName = workerId; name = workerId; prototypeName = foreignId; }
    ); 
    attributesUsedForLocking = (
        assignmentOfferingId, 
        isCancelled, 
        isPaused, 
        isReady, 
        priority, 
        progressMessage, 
        suspensionReason, 
        userId, 
        workerId
    ); 
    className = "org.webcat.opinions.SurveyReminderJob"; 
    classProperties = (
        assignmentOffering, 
        dueTime, 
        enqueueTime, 
        isCancelled, 
        isPaused, 
        isReady, 
        priority, 
        progress, 
        progressMessage, 
        scheduledTime, 
        suspensionReason, 
        user, 
        worker
    ); 
    externalName = TSurveyReminderJob; 
    fetchSpecificationDictionary = {}; 
    name = SurveyReminderJob; 
    parent = JobBase; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = AssignmentOffering; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = assignmentOfferingId; }); 
            name = assignmentOffering; 
        }, 
        {
            destination = User; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = userId; }); 
            name = user; 
        }, 
        {
            destination = WorkerDescriptor; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = workerId; }); 
            name = worker; 
        }
    ); 
}
