Includes
<b><wo:if condition="$model.includeOnlySubmissionsForGrading">
    only the submissions for grading
</wo:if><wo:else>
    all submissions
</wo:else></b>
made by each
<b><wo:if condition="$model.includeCourseStaff">
    student, TA, and instructor
</wo:if><wo:else>
    student
</wo:else></b>
to the assignment
<b><wo:str value="$model.assignment.titleString"/></b>
in the following course offerings:
<wo:loop list="$model.courseOfferings" item="$courseOffering" index="$index">
    <b><wo:str value="$courseOffering.compactName"/></b>
    <wo:if condition="$indexIsNotLastCourseOffering">, </wo:if>
</wo:loop>
