<webobject name="PageWrapper">
    <webobject name="QueryTable">
        <webobject name="BannerConditional">
            <webobject name="QueryTableHeaderRow">
                <th colspan="2">Find...</th>
            </webobject>
        </webobject>
        <webobject name="EntitiesRepetition">
            <webobject name="RowContainer">
                <!WOB-Tokenizer Allow-Marker="FORM" As-Child-Of="TR">
                <webobject name="QueryForm">
                    <!WOB-Tokenizer Allow-Marker="TD" As-Child-Of="FORM">
                    <td align="right"><strong><webobject name="EntityName"/>:</strong></td>
                    <td align="right">
                        <webobject name="QueryAnyField"/>
                        <webobject name="SearchButtonImage"/>
                        &nbsp; &nbsp; <font size="-1"><webobject name="RegularQueryHyperlink">more..</webobject><font></td>
                </webobject>
                <!WOB-Tokenizer Restore-Original-Grammar>
            </webobject>
        </webobject>
    </webobject>
</webobject>
