<webobject name="Page">
<webobject name="BackForm"><webobject name="Back"/></webobject>
<p><webobject name="PropForm">Set property: Name: <webobject name="NameField"/>
to value: <webobject name="ValueField"/> <webobject name="SetProperty"/> </webobject></p>
<div class="shadow"><table><tr><th>Name</th><th>Value</th></tr>
<webobject name=Properties><webobject name="TR">
    <td valign="top"><webobject name="Name"/></td><td valign="top"><webobject name="Value"/></td>
</webobject></webobject></table></div><div class="spacer">&nbsp;</div>
<webobject name="BackForm"><webobject name="Back"/></webobject>
</webobject>
