*.jar
*.war
*.zip
*.framework/
bin/
BIRTRuntime/Resources/ReportEngine/
Core/dojo-release/dijit/
Core/dojo-release/dojo/
Core/dojo-release/dojox/
Core/dojo-release/util/
Core/WebServerResources/dijit/
Core/WebServerResources/dojo/
Core/WebServerResources/dojox/
Core/WebServerResources/webcat/
WOUnitTest/WOUnitTest/build/
Web-CAT/api/
Web-CAT/dist/
