<webobject name="Page">
<!--	<div style="float:left;margin:2em;"><webobject name="Image"/></div>
	<div class="shadow"><table>
	<tr><th colspan="2">Report Generation Status</th></tr>
    <tr class="o"><td>Queued jobs</td><td class="n"><webobject name="QueuedJobCount"/></td></tr>
    <tr class="e"><td>Most recent job wait</td><td class="n"><webobject name="MostRecentJobWait"/></td></tr>
    <tr class="o"><td>Your queue position</td><td class="n"><webobject name="QueuePosition"/></td></tr>
    <tr class="e"><td>Your estimated wait</td><td class="n"><webobject name="EstimatedWait"/></td></tr>
    </table></div>
    <div class="spacer">&nbsp;</div>-->
	<webobject name="LongResponse">
		<webobject name="ReportContents"/>
	</webobject>
</webobject>
