{
  staff = {
    children = {
      "Batch" = {
        accessLevel = 40;
        priority = 600;
        children = {
          Run = {
            pageName   = net.sf.webcat.batchprocessor.PickBatchPluginToRunPage;
            accessLevel = 40;
            priority   = 1;
            wantsStart = YES;
          };
          "View Results" = {
            pageName   = net.sf.webcat.batchprocessor.PickBatchResultToViewPage;
            accessLevel = 40;
            priority   = 2;
          };
          "Plug-Ins" = {
            pageName = net.sf.webcat.batchprocessor.BatchPluginLibraryPage;
            accessLevel = 40;
            priority = 3;
          };
        };
      };
    };
  };
}
