{
  student = {
    children = {
      Results = {
        priority = 110;
        children = {
          "Opinions" = {
            pageName   = net.sf.webcat.opinions.PendingAssignmentOpinionsPage;
            priority   = 1000;
            id         = opinions;
          };
        };
      };
    };
  };
}
