<webobject name="PageWrapper"><br/><br/><br/><center>
      <webobject name="ErrorTable">
         <tr>
            <td>
               <table>
                  <tr>
                     <td align="center" valign="middle">
                        <webobject name="ErrorImage"/>
                     </td>
                     <td align="left" valign="middle"><strong>An error occurred while processing your
                        request.</strong><br/>
                        <webobject name="CollapseContainer">
                           <webobject name="ErrorMessage"/>
                        </webobject>
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <td align="center">
               <webobject name="HasNextPage">
                  <webobject name="CancelLink"><webobject name="CancelButton"/></webobject>
               </webobject>
               <webobject name="NoNextPage">
                  <webobject name="HomeLink"><webobject name="HomeButton"/></webobject>
               </webobject>
            </td>
         </tr>
      </webobject>
</center></webobject>
