<wo name="Page">

<wo name="CurrentReportAndDataSet" />

<wo:form multipleSubmit="$true" id="dataSetQueryForm">

<wo name="QueryAssistantComponent"/>
<div class="spacer">&nbsp;</div>
<h3>Save This Query</h3>
<p>If you would like to save this query to use it again later, enter a
short description for it below. If you do not wish to save it, leave the field
blank.</p>
<wo name="QueryDescription"/>

<div class="spacer">&nbsp;</div>
<wo name="Back"/>
<wo name="Next"/>

<div class="spacer">&nbsp;</div>

</wo:form>
<wo name="TextHinter"/>
</wo>
