<wo name="Page">

<wo:org.webcat.core.WCPageModule title="Select Batch Plug-in to Run">
<wo:if condition="$pluginsDisplayGroup.allObjects.count">
    <p>Click on a plug-in below to begin running a batch job.</p>

    <wo name="PluginTable">
        <wo:WCTableHeadings>
            <wo name="NameColumn"/>
            <wo name="VersionColumn"/>
            <wo name="InstalledByColumn"/>
        </wo:WCTableHeadings>
        <wo:WCTableRows item="$batchPlugin">
            <wo:WCTableRow>
                <td><wo name="ChoosePlugin"/></td>
                <td><wo:str value="$batchPlugin.descriptor.currentVersion"/></td>
                <td><wo:str value="$batchPlugin.author.name"/></td>
            </wo:WCTableRow>
        </wo:WCTableRows>
    </wo>

</wo:if>
<wo:else>
    <p>There are currently no batch plug-ins available. You can use the
    <b>Batch Plug-in Library</b> to upload one.</p>
</wo:else>
</wo:org.webcat.core.WCPageModule>
</wo>
