<script>
startBusy = function() {
	$('assignmentContainer').hide();
	$('assignmentContainerBusy').show();
}

stopBusy = function() {
	$('assignmentContainerBusy').hide();
	$('assignmentContainer').show();
}
</script>

<div style="float: left; width: 45%; max-width: 45%">
<p>1. Choose one or more course offerings.</p>
<wo:adiv id="courseTreeContainer" class="scrollPane">
<wo name="CourseOfferingTree">
	<wo name="CourseNodeCheckbox"/>
	<wo:if condition="$isCurrentNodeCourse">
		<b><wo:str value="$currentNode.data.deptNumber"/>:</b> <wo:str value="$currentNode.data.name"/>
	</wo:if>
	<wo:if condition="$isCurrentNodeCourseOffering">
		<wo:str value="$currentNode.data.compactName"/>
	</wo:if>
	<wo name="CourseNodeCheckboxObserver"/>
</wo>
<wo:AjaxUpdateTrigger updateContainerIDs="$containersToUpdate"/>
</wo:adiv>
</div>

<div style="float: right; width: 45%; max-width: 45%">
<p>2. Choose an assignment. The assignments shown below are those that are
offered in all courses chosen in step 1.</p>
<wo:adiv id="assignmentContainer" onRefreshComplete="stopBusy();">
<wo:if condition="$assignments.count">
<div class="shadow"><table><tbody>
	<wo:loop list="$assignments" item="$assignment" index="$index">
		<wo:tr index="$index">
			<td><wo name="AssignmentRadio"/></td>
			<td><wo:str value="$assignment.titleString"/></td>
		</wo:tr>
	</wo:loop>
</tbody></table></div>
</wo:if><wo:else>
	<p style="border: 1px solid gray; padding: 16px"><b>
	There are no assignments available that are offered in all of the courses
	that you have selected.
	</b></p>
</wo:else>
</wo:adiv>
<div id="assignmentContainerBusy" style="display: none">
	<wo:WOImage filename="images/busy_big.gif"/>
</div>
</div>

<div class="spacer">&nbsp;</div>
