<webobject name="Page"><webobject name="Form">
<script>
<!--
function allCheckStateChanged(checkboxName, observeeId)
{
}

function checkStateChanged(checkboxName, observeeId)
{
	var observeeValue = "";
	
	var checkboxes = document.getElementsByName(checkboxName);
	for(var i = 0; i < checkboxes.length; i++)
	{
		var checkbox = checkboxes[i];
		if(checkbox.checked)
		{
			observeeValue += checkbox.id + ";";
		}
	}

	var observee = document.getElementById(observeeId);
	observee.value = observeeValue;
}
-->
</script>
<p>
Use the sections below to specify the values to the parameters that will be
passed in to the report.
</p>
<webobject name="ParameterRepetition">
<div class="spacer">&nbsp;</div>
<webobject name="ParameterPanelContainer"><webobject name="ParameterPanel"/></webobject>
<webobject name="DependencyRepetition"><webobject name="DependencyObserver"/></webobject>
</webobject>
<div class="spacer">&nbsp;</div>
<p><b>Name of this report:</b> You can give a more descriptive name for the report being generated.
This name will be used to denote the report in the list of previously generated reports available
for viewing.</p>
<webobject name="ReportName"/>
<div class="spacer">&nbsp;</div>
<p>Render this report as: <webobject name="RenderingMethod"/><br/>
<webobject name="GenerateReport"/></p>
</webobject></webobject>