<wo name="Page">
<wo:WCPageModule title="Batch Information">
    <wo:WCStyledTable>
        <tr class="e">
            <td><b>Batch Description:</b></td>
            <td><wo:str value="$result.description"/></td>
        </tr>
        <tr class="o">
            <td><b>User:</b></td>
            <td><wo:str value="$result.user.userName"/></td>
        </tr>
        <tr class="e">
            <td><b>Plug-in:</b></td>
            <td><wo:str value="$result.batchPlugin.name"/>
            (<wo:str value="$result.batchPlugin.descriptor.currentVersion"/>)</td>
        </tr>
        <tr class="o">
            <td><b>Batch Query:</b></td>
            <td>
                <wo:if condition="$result.objectQuery.description">
                    <b><wo:str value="$result.objectQuery.description"/>:</b><br/>
                </wo:if>
                <wo:str value="$result.objectQuery.qualifierDescription"/>
            </td>
        </tr>
    </wo:WCStyledTable>
</wo:WCPageModule>
<wo:if condition="$result.isComplete">
    <wo name="FeedbackSections">
        <wo:WCPageModule title="$feedbackSection.title" open="~!feedbackSection.isCollapsed">
            <wo name="FeedbackSectionContent"/>
        </wo:WCPageModule>
    </wo>
</wo:if>
<wo:WCPageModule title="Generated Result Files" dynamic="true" open="false" id="fileBrowserModule">
    <wo name="FileBrowser"/>
</wo:WCPageModule>
</wo>
