.auto_complete {
	position:absolute;
	overflow: auto;
	max-height:350px;
	min-width:350px;
	background-color:white;
	border:1px solid #888;
	margin:0px;
	padding:0px;
}

.auto_complete ul {
    border:1px solid #888;
    margin:0;
    padding:0;
    width:100%;
    list-style-type:none;
}

.auto_complete ul li {
    margin:0;
    padding:1px;
}

.auto_complete ul li.selected { 
    background-color: #ffb; 
}

.auto_complete ul strong.highlight { 
    color: #800; 
    margin:0;
    padding:0;
}

.ajax-hinted-text-with-default {
	color: #999999;
}
