ul.tree {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 0px 0px;
}

ul.tree img.nodeControl {
	border: none;
	vertical-align: top;
}

ul.tree ul {
	margin: 0px;
	padding: 0px 0px 0px 19px;
}

ul.tree li {
	padding-top: 2px;
	padding-bottom: 2px;
	list-style: none;
	white-space: nowrap;
	font-size: small;
}

ul.tree li a {
	text-decoration: none;
	font-family: "Helvetica";
}

ul.tree .nodeLabel {
	margin-left: 19px;
	margin-top: -16px;
	margin-bottom: 3px;
}

.scrollPane {
	border: 1px solid gray;
	overflow: auto;
}

.assignmentContainerBusy {
	display: none;
}
