<webobject name="Page"><webobject name="Form">
<webobject name="QueryString"/>
<p>
<webobject name="Submit"/>
<p>Qualifier Time: <webobject name="QElapsedTime"/></p>
<p>Manual Time: <webobject name="MElapsedTime"/></p>
<div class="shadow"><table><tbody>
<tr>
	<th><webobject name="Column1"/></th>
	<th><webobject name="Column2"/></th>
	<th><webobject name="Column3"/></th>
	<th><webobject name="Column4"/></th>
</tr>
<webobject name="NoError">
<webobject name="ResultSetRepetition">
<webobject name="TR">
	<webobject name="ColumnRepetition">
	<td><webobject name="ResultSetValue"/></td>
	</webobject>
</webobject>
</webobject>
</webobject>
<webobject name="Error">
<tr><td colspan="4"><pre><webobject name="ErrorMsg"/></pre></td></tr>
</webobject>
</tbody></table></div>
</webobject></webobject>
