{
    attributes = (
        {
            columnName = CGENERATEDREPORTID; 
            externalType = INT; 
            name = generatedReportId; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = CPARAMETERVALUEID; 
            externalType = INT; 
            name = parameterValueId; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (generatedReportId, parameterValueId); 
    className = EOGenericRecord;
    externalName = TGENERATEDREPORTPARAMETERVALUE; 
    fetchSpecificationDictionary = {}; 
    name = GeneratedReportParameterValue; 
    primaryKeyAttributes = (generatedReportId, parameterValueId); 
    relationships = (
        {
            destination = GeneratedReport; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = generatedReportId; }); 
            name = generatedReport; 
        }, 
        {
            destination = ReportParameterValue; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = parameterValueId; }); 
            name = parameterValue; 
        }
    ); 
}
