{
    attributes = (
        { name = id; prototypeName = id; },
        {
            columnName = CUUID; 
            name = uuid; 
            prototypeName = tinyText;
        },
        {
            columnName = CENTITYNAME; 
            name = wcEntityName;
            prototypeName = tinyText;
        },
        {
        	columnName = CNAME;
        	name = name;
        	prototypeName = tinyText;
        },
        {
            columnName = CDESCRIPTION; 
            name = description;
            prototypeName = mediumText;
        },
        {
            columnName = CREPORTTEMPLATEID; 
            name = reportTemplateId; 
            prototypeName = foreignId; 
        },
        {
        	columnName = CREFERENCECOUNT;
        	name = referenceCount;
        	prototypeName = integer;
			userInfo =
			{
			    isScalar = true;
			    scalarConversionMethodName = intValue;
			    scalarDefault = 0;
			    type = int;
			    valueClassName = Integer;
			};
        },
    ); 
    attributesUsedForLocking = (
    	uuid,
    	wcEntityName,
    	name,
    	description,
    	reportTemplateId,
    	referenceCount,
    );
    className = net.sf.webcat.reporter.ReportDataSet;
    classProperties = (
    	uuid,
    	wcEntityName,
    	name,
    	description,
    	reportTemplate,
    	referenceCount,
    );
    externalName = TREPORTDATASET;
    name = ReportDataSet;
    primaryKeyAttributes = (id);
    relationships = (
        {
            destination = ReportTemplate; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = reportTemplateId; });
            name = reportTemplate;
        }
    );
}
