{
    attributes = (
    	{
    		columnName = CREPORTPARAMETERID;
    		name = reportParameterId;
    		prototypeName = foreignId;
    	},
        {
            columnName = CPARAMETERVALUEDATA; 
            name = parameterValueData; 
            prototypeName = data; 
        },
        {
            name = updateMutableFields; 
            prototypeName = updateMutableFields; 
            userInfo = {
                isScalar = true;
                scalarDefault = false;
                type = boolean; 
            }; 
        },
        { name = id; prototypeName = id; }
    ); 
    attributesUsedForLocking = (
    	reportParameterId,
    );
    className = net.sf.webcat.reporter.ReportParameterValue;
    classProperties = (
    	reportParameter,
    	parameterValueData
    );
    externalName = TREPORTPARAMETERVALUE;
    name = ReportParameterValue; 
    primaryKeyAttributes = (id);
    relationships = (
        {
            destination = ReportParameter;
            isToMany = N;
            joinSemantic = EOInnerJoin;
            joins = ({destinationAttribute = id; sourceAttribute = reportParameterId; });
            name = reportParameter;
        }
    );
}
