<webobject name="Page">
<webobject name="HasTemplates">
<p>Click on a report template below to begin generating a report.</p>
<div class="shadow">
<table><tbody>
<tr><th>Report Template</th><th>Installed By</th></tr>
<webobject name="TemplateRepetition">
	<webobject name="TR">
		<td><webobject name="TemplateName"/> <webobject name="TemplateVersion"/></td>
		<td><webobject name="TemplateInstalledBy"/></td>
	</webobject>
</webobject>
</tbody></table></div>
</webobject>
<webobject name="HasNoTemplates">
<p>There are currently no report templates available. You can use the <b>Template Library</b> to
upload one.</p>
</webobject>
</webobject>
