<wo name="Page">

<wo:net.sf.webcat.core.WCPageModule title="Select Report to Generate">
<wo:if condition="$reportTemplatesDisplayGroup.allObjects.count">
    <p>Click on a report template below to begin generating a report.</p>

	<wo name="ReportTemplateTable">
	    <wo name="NameFilter"/>
	    <wo name="NameColumn"/>
	    <wo name="VersionColumn"/>
	    <wo name="InstalledByColumn"/>
	</wo>

</wo:if>
<wo:else>
    <p>There are currently no report templates available. You can use the
    <b>Template Library</b> to upload one.</p>
</wo:else>
</wo:net.sf.webcat.core.WCPageModule>
</wo>
