<webobject name="HasAssignments">
<webobject name="SingleSelection">
<div class="shadow"><table><tbody>
<tr><th>&nbsp;</th><th>Assignment</th><th>Name</th></tr>
<webobject name="AssignmentRepetition"><webobject name="TR">
	<td><webobject name="RadioButton"/></td>
	<td><webobject name="Name"/></td>
	<td><webobject name="Description"/></td>
</webobject></webobject>
</tbody></table></div>
</webobject>
<webobject name="MultipleSelection">
<div class="shadow"><table><tbody>
<tr><th><webobject name="AllSelectionCheckbox"/></th><th>Assignment</th><th>Name</th></tr>
<webobject name="AssignmentRepetition"><webobject name="TR">
	<td><webobject name="Checkbox"/></td>
	<td><webobject name="Name"/></td>
	<td><webobject name="Description"/></td>
</webobject></webobject>
</tbody></table></div>
</webobject>
<webobject name="Observee"/>
</webobject>
<webobject name="HasNoAssignments">
<p>No assignments available.</p>
</webobject>